/*
	Version: 3.4.2
*/
#review-trust-lvl {
  width: 100%;
  margin: auto;
}

#review-trust-lvl div {
  box-sizing: border-box;
}

.cwp-item-price {
  font-size: 24px;
  white-space: nowrap;
  font-weight: bold;
  color: #666;
}

.cwp-item-price:first-child:last-child {
  display: block;
  width: 100%;
  text-align: right;
}

#review-trust-lvl h1,
#review-trust-lvl h2,
#review-trust-lvl h3,
#review-trust-lvl h4,
#review-trust-lvl h5,
#review-trust-lvl h6 {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: normal;
}

.rev-option h3 {
  width: auto !important;
}

#review-trust-lvl .photo-wrapup {
  width: 100%;
}

#review-trust-lvl .sec-top {
  margin: 40px 0 20px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#review-trust-lvl .sec-top h2 {
  margin: 0;
  padding: 20px 0;
  padding-left: 20px;
  border-right: 4px solid #d8d8d8;
  border-left: 4px solid #d8d8d8;
  font-size: 1.643em;
  font-weight: normal;
  font-style: italic;
  line-height: 0;
  letter-spacing: -1px;
  text-transform: uppercase;
}

#review-trust-lvl .sec-top h2 i {
  margin-right: 10px;
  color: #d9d9d9;
}

#review-trust-lvl .container .edit-article {
  padding-right: 35px;
  text-align: right;
}

#review-trust-lvl .container .edit-article a {
  padding: 5px 10px;
  border-radius: 4px;
  color: #7d7d7d;
  background: #f3f3f3;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

#review-trust-lvl .container .edit-article a:hover {
  background: #ddd;
}

#review-trust-lvl .article-meta {
  margin: 20px 0 20px 0;
}

#review-trust-lvl .icon-bar-chart:before {
  content: "\f080";
}

#review-trust-lvl .review-wu-right .cons {
  margin-top: 15px;
}

#review-trust-lvl .sec-top h2 i {
  margin-right: 10px;
  color: #d9d9d9;
}

#review-trust-lvl .cwpr_clearfix:after {
  display: block;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  content: "\0020";
}

#review-trust-lvl .cwpr_clearfix:after {
  clear: both;
}

#review-trust-lvl .cwpr_clearfix {
  zoom: 1;
}

#review-trust-lvl .cwp-review-chart {
  float: left;
  position: relative !important;
  top: 0;
  right: 0;
  border-radius: 50%;
}

#review-trust-lvl .cwp-review-percentage span {
  display: block;
  border-radius: 50%;
  background: #fff;
  font-size: 17px;
  font-weight: 900;
}

.cwp-review-rating {
  line-height: inherit !important;
}

#review-trust-lvl .review-wrap-up {
  margin-top: 20px;
  margin-bottom: 20px;
}

#review-trust-lvl .review-wu-bars h3,
.review-wu-bars span {
  margin: 0;
  padding: 0;
  font-size: 13px !important;
  font-style: italic;
  line-height: 2;
  text-transform: uppercase;
}

#review-trust-lvl .review-wu-bars h3 {
  float: left;
}

#review-trust-lvl .review-wrap-up .review-wu-right .pros h2 {
  color: #8DC153;
}

#review-trust-lvl .review-wrap-up .review-wu-right .cons h2 {
  color: #C15353;
}

#review-trust-lvl .review-wu-bars span {
  line-height: 2;
  text-align: right;
}

#review-trust-lvl .review-wu-bars {
  float: left;
  width: 100%;
  padding: 15px;
  border-top: 1px solid #e6e6e6;
}

#review-trust-lvl .review-wu-bars ul {
  width: 100% !important;
  margin: 0;
  margin-left: 0 !important;
  padding-left: 0 !important;
}
#review-trust-lvl .colored {
  background-color: #8DC153;
}

#review-trust-lvl .review-wu-bars ul li {
  display: inline-block;
  float: left;
  width: 8.2%;
  height: 6px;
  margin-right: 2%;
}

#review-trust-lvl .rev-option.customBarIcon ul li {
  width: 28px;
  height: auto !important;
  margin: 0;
  background: none;
  font-size: 15px;
}

#review-trust-lvl .rev-option.customBarIcon ul li i {
  font-size: 22px;
  font-style: normal !important;
  line-height: 1;
  text-align: center;
}

#review-trust-lvl .review-wu-bars ul.wppr-custom-icon li {
  display: inline-block;
  height: auto;
  background: transparent !important;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-rendering: auto;
}

#review-trust-lvl .review-wu-bars ul li:nth-child(10) {
  margin: 0 !important;
}

#review-trust-lvl .review-wu-bars .rev-option div > * {
  display: inline-block;
}

#review-trust-lvl .review-wrap-up .cwpr-review-top {
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

#review-trust-lvl#review-trust-lvl .review-wrap-up .cwpr-review-top {
  padding: 0;
}

#review-trust-lvl .review-wrap-up .cwpr-score-col {
  padding: 15px;
}

#review-trust-lvl .review-wrap-up .cwpr-score-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: rgb(165, 165, 165);
}

#review-trust-lvl .review-wrap-up .cwpr-score-title {
  font-size: 24px;
  display: block;
  line-height: 1em;
  font-weight: bold;
  margin: 0 0 5px;
  color: inherit;
}

#review-trust-lvl .review-wrap-up .cwpr-score-value {
  font-size: 34px;
  display: block;
  line-height: 1em;
  font-weight: bold;
  color: inherit;
}

#review-trust-lvl .review-wrap-up .cwpr-score-level {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: bold;
  color: inherit;
}

#review-trust-lvl .review-wrap-up .cwpr-score-review {
  font-size: 16px;
  line-height: 1.25em;
  color: #303030;
}

#review-trust-lvl .review-wrap-up .review-wu-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

#review-trust-lvl .review-wrap-up .cwp-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

#review-trust-lvl .review-wrap-up .cwp-footer .affiliate-button {
  margin: 0;
  display: flex;
  justify-content: center;
}

#review-trust-lvl .review-wrap-up .cwp-footer .affiliate-button a {
  margin: 0;
}

#review-trust-lvl .review-wrap-up .cwp-footer .cwp-affilate-btn-title {
  text-align: center;
  font-size: 16px;
  line-height: 1.25em;
  color: #303030;
  margin-bottom: 10px;
}

#review-trust-lvl .review-wrap-up .cwpr-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 10px;
}

#review-trust-lvl .review-wrap-up .cwpr-price-desc {
  font-size: 16px;
  line-height: 1.25em;
  max-width: 260px;
  color: #303030;
}

#review-trust-lvl .review-wrap-up .cwpr-footer-col {
  padding: 15px;
}

#review-trust-lvl .review-wrap-up .cwpr-footer-col:first-child {
  border-right: 1px solid #e6e6e6;
}




#review-trust-lvl .review-wrap-up .cwpr-review-top .cwp-item {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1;
}

#review-trust-lvl .review-wrap-up .cwpr-review-top h2.cwp-item {
  float: left;
  width: auto !important;
  letter-spacing: 1px;
}

#review-trust-lvl .review-wrap-up .cwpr-review-top .cwp-item-category a {
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  letter-spacing: 1px;
}

#review-trust-lvl .review-wrap-up .cwpr-review-top .cwp-item-category a:hover {
  text-decoration: underline;
}

#review-trust-lvl .review-wrap-up .cwpr-review-top .cwp-item-category i {
  margin-right: 5px;
  color: #e3e3e3;
}

#review-trust-lvl .review-wrap-up .review-wu-left {
  border-right: 1px solid #e6e6e6;
  vertical-align: top;
}

#review-trust-lvl .review-wrap-up .review-wu-left-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.wppr-review-container.wppr-review-no-pros.wppr-review-no-cons
  #review-trust-lvl
  .review-wrap-up
  .review-wu-left {
  width: 100%;
}

#review-trust-lvl .review-wrap-up .review-wu-left .rev-wu-image {
  overflow: hidden;
  width: auto;
  padding: 15px;
  border-right: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#review-trust-lvl .review-wrap-up .review-wu-left .rev-wu-image a {
  display: inline-block;
}

#review-trust-lvl .review-wrap-up .review-wu-left .rev-wu-image img {
  display: inline-block;
  width: 100%;
  height: auto;
  box-shadow: none;
}

#review-trust-lvl .review-wrap-up .review-wu-left .review-wu-grade {
  min-width: 120px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#review-trust-lvl .review-wrap-up .review-wu-left .review-wu-grade-content {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

#review-trust-lvl
  .review-wrap-up
  .review-wu-left
  .review-wu-grade
  .cwp-review-chart {
  display: inline-block;
  float: none;
  position: relative;
  margin: 0;
}

#review-trust-lvl
  .review-wrap-up
  .review-wu-left
  .review-wu-grade
  .cwp-review-chart
  .cwp-review-percentage {
  width: 150px;
}

#review-trust-lvl .review-wrap-up .review-wu-right {
  height: 100%;
  padding: 15px;
  border-right: 1px solid #e6e6e6;
  vertical-align: top;
}

#review-trust-lvl .review-wrap-up .review-wu-right h2 {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}

#review-trust-lvl .review-wrap-up .review-wu-right ul li {
  margin: 0 0 2%;
  padding-left: 0;
  font-size: 16px;
  line-height: 1;
}

#review-trust-lvl .review-wrap-up .review-wu-right ul li:before {
  margin-right: 5px;
  content: "-";
}

.review-wu-right ul li {
  background: none !important;
}

.wppr-comment-form-meta input {
  background: none !important;
}

.rev-wu-image img {
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
}

.rev-option ul li {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

#review-trust-lvl .rev-option {
  margin-top: 10px;
}

#review-trust-lvl .rev-option ul > li {
  font-family: dashicons;
}

#review-trust-lvl .review-wrap-up .review-wu-right ul {
  margin-top: 10px !important;
  margin-left: 0;
  padding-left: 0 !important;
  list-style: none;
}

.review-wu-right ul li,
.review-wu-right ol li {
  list-style: none !important;
}

.wppr-template-default
  #review-trust-lvl
  .review-wrap-up
  .review-wu-content
  .review-wu-left
  .review-wu-bars
  .rev-option
  span:first-of-type {
  float: left;
}

.wppr-template-default
  #review-trust-lvl
  .review-wrap-up
  .review-wu-content
  .review-wu-left
  .review-wu-bars
  .rev-option
  span:last-of-type {
  float: right;
}

.wppr-template-default.rtl
  #review-trust-lvl
  .review-wrap-up
  .cwpr-review-top
  span:first-of-type {
  float: right;
}

.wppr-template-default.rtl
  #review-trust-lvl
  .review-wrap-up
  .cwpr-review-top
  span:last-of-type {
  float: left;
}

.wppr-template-default.rtl
  #review-trust-lvl
  .review-wrap-up
  .review-wu-content
  .review-wu-left
  .review-wu-bars
  .rev-option
  span:first-of-type {
  float: right;
}

.wppr-template-default.rtl
  #review-trust-lvl
  .review-wrap-up
  .review-wu-content
  .review-wu-left
  .review-wu-bars
  .rev-option
  span:last-of-type {
  float: left;
}

.wppr-template-default.rtl .affiliate-button a span {
  margin-right: -10px;
  margin-left: auto;
  padding-right: 20px;
  padding-left: auto;
}

@media (max-width: 440px) {
  #review-trust-lvl .review-wrap-up .review-wu-left {
    width: 100%;
  }

  #review-trust-lvl .review-wrap-up .review-wu-right {
    width: 95%;
    padding-left: 5%;
  }

  #review-trust-lvl .review-wrap-up .review-wu-left .review-wu-grade {
    border-right: none;
  }

  #review-trust-lvl .review-wrap-up .review-wu-left .rev-wu-image,
  #review-trust-lvl .review-wrap-up .review-wu-left .review-wu-grade {
    height: 130px;
  }

  #review-trust-lvl
    .review-wrap-up
    .review-wu-left
    .review-wu-grade
    .cwp-review-chart
    .cwp-review-percentage {
    margin-top: 10%;
  }

  #review-trust-lvl
    .review-wrap-up
    .review-wu-left
    .review-wu-grade
    .cwp-review-chart
    span {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  #review-trust-lvl .review-wrap-up .review-wu-left .review-wu-grade-content {
    width: 100px;
    height: 100px;
  }

  #review-trust-lvl .review-wu-grade .wppr-c100 span {
    font-size: 28px;
    line-height: 100px;
  }

  #review-trust-lvl .review-wrap-up .review-wu-left-top {
    grid-template-columns: 1fr auto;
  }

  #review-trust-lvl .review-wrap-up .cwp-footer {
    grid-template-columns: 1fr;
  }

  #review-trust-lvl .review-wrap-up .cwpr-footer-col:first-child {
    border-bottom: 1px solid #e6e6e6;
    border-right: 0;
  }

}

@media (max-width: 768px) {
  #review-trust-lvl .review-wrap-up .review-wu-left,
  #review-trust-lvl .review-wrap-up .review-wu-right {
    display: block;
    float: left;
    width: 100%;
  }

  .cwp-item-price:first-child:last-child {
    text-align: center;
  }

  #review-trust-lvl .review-wrap-up .cwpr-review-top {
    grid-template-columns: 1fr;
  }

  #review-trust-lvl .review-wrap-up .review-wu-right {
    border-top: 1px solid #e6e6e6;
  }

  #review-trust-lvl .review-wrap-up .review-wu-content {
    grid-template-columns: 1fr;
  }

  #review-trust-lvl .review-wrap-up .cwpr-price-desc {
    text-align: center;
  }

  #review-trust-lvl .review-wrap-up .cwpr-price-container {
    flex-direction: column;
    justify-content: center;
  }

}

.cwp-review-percentage.cwp_easyPieChart canvas {
  position: absolute;
  left: 0;
}

.cwp-review-percentage.cwp_easyPieChart {
  position: relative;
  text-align: center;
}

.review-wu-grade .cwp-review-chart {
  float: none;
  position: relative;
}